body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
    margin: 0;
    padding: 0;
    background-image: url(wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Estilo do título */
  h1 {
    text-align: center;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: white;
  }
  
  /* Estilo do botão */
  #generateButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
  }
  
  #generateButton:hover {
    background-color: #0056b3;
  }
  
  /* Estilo do contêiner de imagens */
  #imageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Estilo das imagens */
  #imageContainer img {
    width: 350px;
    height: 350px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    border: 2px solid #007bff;
  }
