body {
    font-family: Arial, sans-serif;
    padding-top: 30px;
}

.title {
    margin-bottom: 30px;
    text-align: center;
    color: #000;
}

.indice{
    text-align: end;
    margin-right: 22px;
}

.categoria{
    
    text-align: center;
    
    color: #000;

    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    
}